.screen
  margin: 0 auto
  background-color: black
  width: 854px
  height: 480px
  position: relative

.player
  width: 20px
  height: 200px
  position: absolute
  bottom: 50px
  
.ball
  width: 60px
  height: 60px
  border-radius: 50%

.img 
  background-image: url("ovelha_balao.png")

  background-size: contain
  background-repeat: no-repeat
  background-position: 70% 
